<!DOCTYPE html>
<html>
<head>
    <title>Excel Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $(document).on('click', '.view-details', function(e){
                e.preventDefault();
                var rowId = $(this).data('id');
                $.ajax({
                    url: '/details',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ row_id: rowId }),
                    success: function(response){
                        // wrap the response in a div with class 'table-responsive'
                        var htmlContent = '<div class="table-responsive">' + response + '</div>';
                        $('#dataModal .modal-body').html(htmlContent);
                        $('#dataModal').modal('show');
                    }
                });
            });
        });
    </script>
</head>
<body>
    <h1>Data from Excel</h1>
    
    <form method="GET" action="/">
        <label for="issuer">Issuer:</label>
        <input type="text" id="issuer" name="issuer" placeholder="Issuer Name">
        
        <label for="symbol">Symbol:</label>
        <input type="text" id="symbol" name="symbol" placeholder="Symbol">

        <label for="deal_team_contact">Deal Team Contact:</label>
        <input type="text" id="deal_team_contact" name="deal_team_contact" placeholder="Deal Team Contact">

        <button type="submit">Filter</button>
    </form>

    <!--this is where the partial data table will be rendered-->
    {{ table_html|safe }}

    <!--modal for displaying full data details-->
    <div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="dataModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="dataModalLabel">Full Data Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!--full data details will be loaded here by the JavaScript-->
                </div>
            </div>
        </div>
    </div>
</body>
</html>
